@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  color: #37311C;
  /* background-color: rgb(246, 243, 241); */
}

html {
  font-size: 16px;
}

@media (max-width: 767px) {
  html {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
